body {
  background-color:#95ffa2;
  color: #2c3e50;
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  border: 2px solid #576574;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#styledLink {
  background-color: #3498db;
  color: #ffffff;
  padding: 15px 30px;
  border: 2px solid #3498db;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
}

#styledLink:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}
#ad-container {
    height: 150px; /* يمكنك تعديل هذه القيمة حسب احتياجاتك */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
}